@model ShowFlixApp.Models.Show



@await Component.InvokeAsync("Show",new {showId=@Model.ShowId,viewName="Details"})

@*    <div class="card-footer">
        <a asp-action="Index" class="btn btn-primary">Back to Shows</a>
    </div>*@